body {
     background-color: #222;
     font-family: "Work Sans", sans-serif;
     font-weight: 400;
     margin:  0;
}

h1 {
    margin-left: 20px;
}

#arthur {
    color: #107710;
    border: 3px solid pink;
    border-radius: 10px;
}

#aangAppa {
    color: #a4951c;
}

#zuko {
    color: #b31c32;
}

.song {
    font-size: 18px;
}

.box {
    border-style: solid;
    border-color: red;
    border-width: 0px 0px 2px 0px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #081f24;
}

header::after {
    content: "";
    display: table;
    clear: both;
}

.logo {
    float: left;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 55px;
    padding-top: 25px;

    position: relative;
}

nav a {
    color: #3da68d;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
}

nav a:hover {
    color: #fff;

}

nav a::before {
    content:"";
    display: block;
    height: 3px;
    width: 100%;
    background-color: #fff;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease 220ms;
}

nav a:hover::before {
    width: 100%;
}